<!-- /admin/view/sidebar.html -->
<div class="sidebar">
    <h4>Admin Panel</h4>
    <a href="user.html" id="link-user">Quản lý người dùng</a>
    <a href="tour_category_type.html" id="link-tour-categories">Quản lý kiểu và loại Tour</a>
    <a href="tour.html" id="link-tour">Quản lý Tour</a>
    <a href="tour_prices.html" id="link-tour">Quản lý thành phần Tour</a>
    <a href="tour_images.html" id="link-tour">Quản lý ảnh Tour</a>
    <a href="tour_locations.html" id="link-tour">Quản lý địa chỉ Tour</a>
    <a href="#" id="link-order">Quản lý đơn hàng</a>
  </div>
  <script src="../js/sidebar.js"></script>
  