body {
  background-color: #f4f6f9;
  font: 1em sans-serif;
  overflow-x: hidden;
}

.main-content {
  margin-left: 260px;
  padding: 35px 40px;
}

.main-content h3 {
  font-weight: 600;
  color: #333;
}

.table {
  background: white;
  border-radius: 5px;
  width: 100%;
}

.table th,
.table td {
  vertical-align: middle;
  text-align: center;
  padding: 10px;
}

.table th {
  white-space: nowrap;

}
.table td {
  font-size: 14px;
}
.btn {
  border-radius: 8px;
  font-size: 14px;
}